<?php

    // Set the SMTP server to send through
    $host       = 'sandbox.smtp.mailtrap.io';

    // SMTP username
    $username   = 'username';

    // SMTP password
    $password   = 'password';

    // Enable implicit TLS encryption
    $SMTPSecure = 'TLS';

    // TCP port to connect to
    $port       = 465;

    // Mail Subject
    $subject    = 'Big Caters: Enquiry';